@model List<Video>
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body ">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">Service Table</h4>
                    <a asp-action="Create" class="btn btn-outline-info  btn-rounded">Create</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>

                                <th>
                                    Video
                                </th>
                                <th>
                                    Adı
                                </th>
                         
                                <th class=" d-flex justify-content-end">
                                    Action
                                </th>

                            </tr>
                        </thead>
                        <tbody id="result" cellpadding="0" cellspacing="0">
                            @foreach (Video item in Model)
                            {

                                <tr>
                                    <td>
                                        <div class="ratio ratio-21x9">
                                            <iframe src="@item.Link" title="YouTube video" allowfullscreen></iframe>
                                        </div>
                                    </td>

                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @if (item.IsDeactive)
                                        {
                                            <div>Aktiv</div>
                                        }
                                        else
                                        {
                                            <div>Deaktiv</div>
                                        }
                                    </td>

                                    <td class="d-flex justify-content-end ">
                                        <a class="btn btn-outline-info mx-2 btn-rounded" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                                        @if (item.IsDeactive)
                                        {
                                            <a class="btn btn-outline-success mx-2 btn-rounded" asp-action="Activity" asp-route-id="@item.Id">Activate</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-outline-danger mx-2 btn-rounded" asp-action="Activity" asp-route-id="@item.Id">Deactivate</a>
                                        }
                                        <a class="btn btn-outline-success mx-2 btn-rounded" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

